<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Car_Parking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OfficeListServlet</display-name>
    <servlet-name>OfficeListServlet</servlet-name>
    <servlet-class>fa.training.controller.OfficeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficeListServlet</servlet-name>
    <url-pattern>/officelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfficeDetailServlet</display-name>
    <servlet-name>OfficeDetailServlet</servlet-name>
    <servlet-class>fa.training.controller.OfficeDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficeDetailServlet</servlet-name>
    <url-pattern>/officedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOfficeServlet</display-name>
    <servlet-name>AddOfficeServlet</servlet-name>
    <servlet-class>fa.training.controller.AddOfficeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOfficeServlet</servlet-name>
    <url-pattern>/addoffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarListServlet</display-name>
    <servlet-name>CarListServlet</servlet-name>
    <servlet-class>fa.training.controller.CarListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarListServlet</servlet-name>
    <url-pattern>/carlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarServlet</display-name>
    <servlet-name>AddCarServlet</servlet-name>
    <servlet-class>fa.training.controller.AddCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarServlet</servlet-name>
    <url-pattern>/addcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCarServlet</display-name>
    <servlet-name>EditCarServlet</servlet-name>
    <servlet-class>fa.training.controller.EditCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCarServlet</servlet-name>
    <url-pattern>/editcar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeListServlet</display-name>
    <servlet-name>EmployeeListServlet</servlet-name>
    <servlet-class>fa.training.controller.EmployeeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeListServlet</servlet-name>
    <url-pattern>/employeelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeDetailServlet</display-name>
    <servlet-name>EmployeeDetailServlet</servlet-name>
    <servlet-class>fa.training.controller.EmployeeDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeDetailServlet</servlet-name>
    <url-pattern>/employeedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>fa.training.controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/addemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddParkingServlet</display-name>
    <servlet-name>AddParkingServlet</servlet-name>
    <servlet-class>fa.training.controller.AddParkingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParkingServlet</servlet-name>
    <url-pattern>/addparking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditParkingServlet</display-name>
    <servlet-name>EditParkingServlet</servlet-name>
    <servlet-class>fa.training.controller.EditParkingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditParkingServlet</servlet-name>
    <url-pattern>/editparking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParkingListServlet</display-name>
    <servlet-name>ParkingListServlet</servlet-name>
    <servlet-class>fa.training.controller.ParkingListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkingListServlet</servlet-name>
    <url-pattern>/parkinglist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketListServlet</display-name>
    <servlet-name>TicketListServlet</servlet-name>
    <servlet-class>fa.training.controller.TicketListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketListServlet</servlet-name>
    <url-pattern>/ticketlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTicketServlet</display-name>
    <servlet-name>AddTicketServlet</servlet-name>
    <servlet-class>fa.training.controller.AddTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTicketServlet</servlet-name>
    <url-pattern>/addticket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTripServlet</display-name>
    <servlet-name>AddTripServlet</servlet-name>
    <servlet-class>fa.training.controller.AddTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTripServlet</servlet-name>
    <url-pattern>/addtrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripDetailServlet</display-name>
    <servlet-name>TripDetailServlet</servlet-name>
    <servlet-class>fa.training.controller.TripDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripDetailServlet</servlet-name>
    <url-pattern>/tripdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripListServlet</display-name>
    <servlet-name>TripListServlet</servlet-name>
    <servlet-class>fa.training.controller.TripListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripListServlet</servlet-name>
    <url-pattern>/triplist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>fa.training.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>DeleteParking</display-name>
    <servlet-name>DeleteParking</servlet-name>
    <servlet-class>fa.training.controller.DeleteParking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteParking</servlet-name>
    <url-pattern>/deleteparking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCar</display-name>
    <servlet-name>DeleteCar</servlet-name>
    <servlet-class>fa.training.controller.DeleteCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCar</servlet-name>
    <url-pattern>/deletecar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTripServlet</display-name>
    <servlet-name>DeleteTripServlet</servlet-name>
    <servlet-class>fa.training.controller.DeleteTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTripServlet</servlet-name>
    <url-pattern>/deletetrip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTicketServlet</display-name>
    <servlet-name>DeleteTicketServlet</servlet-name>
    <servlet-class>fa.training.controller.DeleteTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTicketServlet</servlet-name>
    <url-pattern>/deleteticket</url-pattern>
  </servlet-mapping>
</web-app>